@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-pink-200;
  }
  .dark body {
    @apply dark:bg-[#745660];
  }
  h1 {
    font-family: "Playfair Display", serif;
  }
  h3{
font-family: "Lavishly Yours", cursive;
  }
}
